[submodule "suckless/.config/suckless/dwm"]
	path = suckless/.config/suckless/dwm
	url = https://github.com/dariolbs/dwm
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:dariolbs/nvim.git
