* {
    font-family: "JetBrainsMono", "SauceCodePro Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0px;
    background-image: none;
}

@define-color low #1d2021;

@define-color medium #32302f;

@define-color high #ebdbb2;

window#waybar {
    /*
    background: rgba(29, 32, 33, .10);
    */
    background: @low;
}

tooltip {
    background: @medium;
    color: @high;
    border-radius: 10px;
    border-width: 1px;
    border-color: @medium;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    color: @high;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @high;
    color: @medium;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @high;
    color: @medium;
}

#cpu,
#memory,
#custom-power,
#custom-clock,
#custom-forecast,
#custom-wally,
#custom-alarm,
#custom-distro,
#workspaces,
#window,
#custom-updates,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#tray {
    color: @high;
    background: @medium;
    opacity: 1;
    padding: 0px;
    margin: 3px 0px 3px 0px;
}


/* First left block */

#custom-clock {
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 17px;
    margin-left: 25px;
}

/* Last left block */

#window {
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 17px;
    margin-left: 25px;
    margin-right: 6px;
}

/* All blocks on the right */

#custom-updates,
#custom-forecast,
#custom-distro,
#window,
#custom-alarm {
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 17px;
    margin-left: 6px;
}

/* Workspaces */

#workspaces {
    border-radius: 10px 10px 10px 10px;
    padding-left: 12px;
    padding-right: 12px;
}

/* First right block */

#network {
    border-radius: 10px 10px 10px 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 25px;
}

/* resource monitor block */

#cpu {
    border-radius: 10px 0px 0px 10px;
    padding-left: 12px;
    padding-right: 4px;
}

#memory {
    border-radius: 0px 10px 10px 0px;
    border-left-width: 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 6px;
}

/* All blocks on the left */

#tray,
#pulseaudio,
#backlight,
#custom-wally,
#battery,
#custom-distro,
#pulseaudio {
    border-radius: 10px 10px 10px 10px;
    padding-left: 8px;
    padding-right: 12px;
    margin-right: 6px;
}

/* Colors Left */
#custom-clock { color: #ebdbb2;}
#custom-alarm { color: #FDE2E2;}
#custom-updates { color: #EEC4C4;}
#custom-forecast { color: #BCCEF8;}
/* Colors Right */
#custom-kill { color: #FD8A8A;}
#cpu { color: #FD8A8A;}
#memory { color: #FD8A8A;}
#pulseaudio { color: #A8D1D1 }
#backlight { color: #ffffff }
#battery { color: #fffbc1 }
#custom-wally{ color: #CEEDC7 }
#network { color: #d3869b; }
#window:hover { color: #FD8A8A }
