#!/usr/bin/bash
# Configure all X11 options here

# Xkbmap options
keymap_lang="pt"
keymap_options="caps:escape"

# Wallpaper config
wallpaper="$HOME/.config/wallpaper/wallpaper"

# Monitor config
primary="DP-0"
monitors=("HDMI-0" "DP-0")
resolutions=("1920x1080" "1920x1080")
refresh_rates=("60" "165")

# Tablet config
tablet="HID 256c:006e Pen stylus"
tablet_offset="1920x1080+1920+0"
absolute_area="50800"
